body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  margin: 0;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 500px; /* Adjust this based on the size of each square */
}

.sqr {
  width: 12%; /* 100% / 8 columns = 12.5% width for each square */
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  font-size: 64px;
  text-align: center;
}
